@{
    ViewData["Title"] = "Home Page";
    ViewData["Namespace"] = "Home";
}

<div class="text-center shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="display-4 text-info">Welcome to my <em class="bg-secondary rounded p-2 text-white">dii todo <strong class="text-info">app</strong></em></h1>
</div>
