@model TodoApp.Models.Todo

@{
    ViewData["Title"] = "Edit";
    ViewData["Namespace"] = "Edit";
}

<h1 class="text-center">Edit <em class="text-info">Todo</em></h1>

<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Edit" class="d-flex flex-column gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-floating form-group">
                <input asp-for="Title" class="form-control" id="title" />
                <label asp-for="Title" class="control-label" for="title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating form-group">
                <textarea asp-for="Content" class="form-control" id="content"></textarea>
                <label asp-for="Content" class="control-label" for="content"></label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-floating form-group">
                <select asp-for="Status" class="form-control" id="status">
                    <option value="0" selected aria-selected="true">Open</option>
                    <option value="1">Done</option>
                </select>
                <label asp-for="Status" class="control-label" for="status"></label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info text-white fs-5" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
